@font-face{
    font-family: 'super_mario';
    src: url('/assets/fonts/SuperMario256.ttf');
}
@font-face{
    font-family: 'gameboy';
    src: url('/assets/fonts/gameBoy.ttf');
}

.body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d1cbbf;
    background: cover;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#canvas{
    border-color: #75767e ;
    border-width: 60px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 3pt 2pt #63605b;
    width: 600px;
    height: 300px;
}
#power_circle{
    position: absolute;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 3pt 2pt #323130;
    background-image: radial-gradient(#b32428,#9b111e);
    border-radius: 50%;
    top: 130px;
    left: 20px;
}

#power_text{
    position: absolute;
    font-size: 10px;
    color: #acb5c0;
    top: 150px;
    left: 10px;
}

#lines_lila_left{
    background-color: #872e77;
    position: absolute;
    width: 300px;
    height: 5px;
    top: 15px;
    left: 10px;
}
#lines_blue_left{
    background-color: #32235a;
    position: absolute;
    width: 300px;
    height: 5px;
    top: 30px;
    left: 10px;
}
.lines_text{
    position: absolute;
    font-size: 15px;
    color: #acb5c0;
    top: 3px;
    left: 325px;
}

#lines_lila_right{
    background-color: #872e77;
    position: absolute;
    width: 150px;
    height: 5px;
    top: 15px;
    left: 535px;
}
#lines_blue_right{
    background-color: #32235a;
    position: absolute;
    width: 150px;
    height: 5px;
    top: 30px;
    left: 535px;
}
.down_text{
    position: absolute;
    top: 410px;
    left: 0;
    font-size: 30px;
    font-family: 'gameboy', monospace;
    font-weight: bold;
    color: #32235a;

}


/*------MENU-----------*/
.menu{
    width: 600px;
    height: 300px;
    border-color: #75767e ;
    border-width: 60px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 0 3pt 2pt #63605b;
    background-color: rgba(48, 98, 48,0.5);
    font-family: 'gameboy', monospace;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0f380f;
}
.menu button{
    border: none;
    background-color: transparent;
    font-family: 'gameboy', monospace;
    font-weight: bold;
    color: #0f380f;
}
.menu input{
    background-color: transparent;
    border: none;
    font-family: 'gameboy', monospace;
    font-weight: bold;
    color: #0f380f;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}
.menu h2{
    font-size: 1em;
}
.menu button:hover{
    background-color: #0f380f;
    color: #9bbc0f;
}
.menu button:focus{
    outline: none;
    background-color: #0f380f;
    color: #9bbc0f;
}

.menu input:focus{
    outline: none;
    background-color: #0f380f;
    color: #9bbc0f;
}

/*------------HIDDEN CLASS----------*/
.hidden{
    display: none;
}